<!--The content below is only a placeholder and can be replaced.-->

<div class="center-screen" >
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
  
  
    </h1>
  
    <i class="fas fa-fire"></i>
  </div>
  <div class="card card-1" style="padding:10px;">
    <h2>Get Started:</h2>
    <div style="max-width:150px;" style="text-align:center;">
      <div style="margin-top:20px; margin-bottom: 20px;">
        <button class="btn btn-primary btn-celadon" ><a routerLink="/login">Login</a></button>

      </div>
      <div style="margin-bottom: 20px;">

      <button class="btn btn-primary btn-celadon"><a routerLink="/sign-up">Create Account</a></button>
   </div>
    </div>
  
  </div></div>



